h1{
    font-size: 72px;
    margin-top: 8px;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    text-shadow: 2px 2px 5px black;
    }
h2{
    line-height: 80%;
}
h3{
    line-height: 80%;
}
p{
    font-family: 'Lato', sans-serif;
    line-height: 80%;
 }
 body{
    background-color: white;
    background-image: url("");
    margin-left: 28px;
}
#card{
    width: 24rem;
}
 #book-div{
     max-width: 240px;
 }
 #recommendations{
     max-width: 860px;
     margin-left: 0px;
 }
 #recommendedBookButton{
     margin: 28px;
 }
 #voting{
    width:30px;
    height:40px;
 }
 .jumbotron{
    margin-right: 28px;
    margin-top: 28px;
    background-image: url('wallpaper.jpg');
    background-repeat: no-repeat;
    background-position: top; 
    background-attachment: fixed;
    background-size: 100%;
    background:linear-gradient(rgba(0.0, 0.0, 0.0, 0.2), (0.0, 0.0, 0.0, 0.2), url('wallpaper.jpg');   
 }
 .upvote{
    width:30px;
    height: 20px;
    cursor: pointer;
 }
 .downvote{
    width:30px;
    height: 20px;
    background: url('downvote.jpg') 0 0 no-repeat;
    cursor: pointer;
 }