h1{
    font-size: 72px;
    margin-top: 8px;
    font-family: 'Cinzel', serif;
    color: whitesmoke;
    }
 p{
    font-family: 'Lato', sans-serif;
 }
 body{
    background-color: white;
    background-image: url("");
}
 
 #voting{
    width:30px;
    height:40px;
 }
 .upvote{
    width:30px;
    height: 20px;
    cursor: pointer;
 }
 .downvote{
    width:30px;
    height: 20px;
    background: url('downvote.jpg') 0 0 no-repeat;
    cursor: pointer;
 }